@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

#error {
  display: none;
}
.main-img {
  display: none;
}

button {
  font-family: "Chivo", sans-serif;
}

body {
  background: linear-gradient(
      rgba(18, 23, 37, 1),
      /* Your solid color overlay */ rgba(18, 23, 37, 0.8)
    ),
    url(./assets/mobile/image-host.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
  padding: 62px 24px 94px;
}

header {
  display: flex;
  justify-content: center;
  gap: 13.2px;
  align-items: center;
}

main {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #54e6af;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 146.154% */
  text-transform: uppercase;
}
span {
  color: #fff;
}

.text-container p {
  width: 327px;
  color: #c2cbe5;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 166.667% */
  margin-top: 16px;
}
.icon-container {
  display: flex;
  gap: 20px;
  margin-top: 36px;
  align-items: center;
}

.button-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 51px;
}

input {
  padding-left: 32px;
  width: 327px;
  height: 46px;
  border-radius: 28px;
  background: #2c344b;
  border: none;
  color: #fff;
  font-family: Chivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}

input::placeholder {
  opacity: 0.5;
  color: #fff;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

button {
  border-radius: 28px;
  background: #54e6af;
  padding: 9px 109px;
  border: none;

  /* text */

  color: #121725;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
  background: #b3ffe2;

  transition: 0.5s;
}
#dots-pattern {
  display: none;
}

.spotify {
  width: 55.94px;
  height: 17px;
}

.apple-podcast {
  width: 45px;
  height: 17px;
}

.google-podcast {
  width: 73px;
  height: 11px;
}

.pocket-cast {
  width: 77px;
  height: 15px;
}

@media (min-width: 768px) {
  body {
    background: #121725;
    padding: 50px 0 0 40px;
  }
  header {
    justify-content: flex-start;
  }
  .main-img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  main {
    background: #121725;
    align-items: flex-start;
    width: 635px;
    margin-top: 152px;
  }

  .text-container {
    padding: 93px 10px 0 0;
  }

  .text-container h1,
  .text-container p {
    text-align: start;
  }
  .text-container h1 {
    font-size: 48px;
    line-height: 56px; /* 116.667% */
    width: 635px;
  }

  .text-container p {
    width: 445px;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    margin-top: 31px;
  }

  .flex-group {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .icon-container {
    order: 1;
  }

  .button-container form {
    flex-direction: row;
  }
  #form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 427px;
    height: 56px;
  }
  form {
    position: relative;
  }
  button {
    position: absolute;
    right: 23%;
    top: 9%;
    padding: 9px 27px;
    box-shadow: none;
  }

  .icon-container {
    margin-top: 64px;
    gap: 40px;
  }

  .spotify {
    width: 96px;
    height: 29px;
  }

  .apple-podcast {
    width: 78px;
    height: 29px;
  }

  .google-podcast {
    width: 125px;
    height: 18px;
  }

  .pocket-cast {
    width: 129px;
    height: 26px;
  }
  #dots-pattern {
    position: relative;
    display: block;
    margin-top: 150px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 102px 0 130px 165px;
  }

  .text-container {
    margin-top: 88px;
    padding: 0;
  }
  main {
    width: 723px;
    margin-top: 103px;
  }
  .main-img {
    margin-top: 117px;
  }

  .text-container h1 {
    width: 665px;
    font-size: 52px;
  }
  .text-container p {
    margin-top: 24px;
  }
  .button-container form {
    margin-top: 40px;
  }
  #dots-pattern {
    position: absolute;
    margin-top: -50px;
    right: 0;
  }
}
